/*Global Styles*/

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 20% 80%;
  margin: 0;
}

main {
  grid-row: 2;
  grid-column: 2;
}

header {
  grid-column: 2;
}

ul {
/*  border-top: solid;
  border-color: #2C3442;*/
  font-family: 'Montserrat', sans-serif;
  font-size: .5em;
  padding: 15px;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

/*Table and Sharing Links*/

.table-and-links-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.job-description-table {
  border: solid;
  margin: 20px;
}

.links-column {
  margin: 20px;
}

/*Search bar*/

.search-and-btns-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
  height: 4em;
}

/*Title and Nav of Viewed Page*/

.title-and-nav-container {
  display: grid;
}

.title-container {

}

/*Charts Section*/

.data-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3fr;
  grid-template-rows: 2;
}

.three-c-charts {
  width: 100%;}

.circle-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #EEE;
  stroke-width: 3px;
}

.circle {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.blue {
  stroke: #46A3F3;
}

.green {
  stroke: #66B8BF;
}

.purple {
  stroke: #A46EAB;
}

.circle-number {
  fill: #5B6677;
  font-size: 0.5em;
  text-anchor: middle;
}

.circle-text {
  font-size: em;
  text-anchor: middle;
}

.week-chart {

}

.total-applicants-btn {
  grid-column: span 3;
}

.applicants-day-btn {

}

/*Sidebar Nav*/

aside {
  background-color: #374050;
  color: #A2ABBC;
  grid-column: 1;
  grid-row: 1 / 3;
}

.user-img {
  border-radius: 45px;
  display: block;
  margin: 2em auto;
  margin-bottom: 0;
  width: 6em;
}

.profile-name {
  font-size: 10px;
  padding: 15px;
  margin-bottom: 1em;
  text-align: center;
}

.nav-main,
.nav-admin,
.nav-categories {
  border-top: solid;
  border-color: #2C3442;
  color: #66738A;
}

aside li {
  color: #A2ABBC;
}