body {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0;
}

main {
  grid-row: 2;
  grid-column: 2;
}

header {
  grid-column: 2;
}

aside {
  grid-column: 1;
  grid-row: span 2;
}

.table-and-links-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.job-description-table {
  border: solid;
  margin: 20px;
}

.links-column {
  margin: 20px;
}